<div class="bg-light p-3" [class.d-none]="collapsed" style="width: 200px; min-height: 100vh;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="bi bi-house-door"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/remittance">
        <i class="bi bi-currency-exchange"></i> Remittance
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/support">
        <i class="bi bi-life-preserver"></i> Support
      </a>
    </li>
  </ul>
</div>
